.input {
  background: transparent;
  border-bottom: 1px solid #48cae4;
  box-sizing: border-box;
  transition: 0.3s all linear;
}

// .input:focus {
//   .containerLabel {
//     background: red;
//   }
// }
