.containerProjetos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerTitle {
  position: relative;
  & .titleProject {
    opacity: 0;
    animation: showContentToptoBottom 1s linear 1s forwards;
    font-family: "Audiowide", cursive;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #ffffff;
    text-align: center;
  }
  .backgroundText {
    position: absolute;
    right: 5%;
    top: -45%;
    color: #08000d;
    text-shadow: 0 0 3px #7b2cbf;
    z-index: -1;
    opacity: 0;
    animation: showContentToptoBottom 1.5s linear 1s forwards;
  }
  .blurEffect {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -60px;
    left: 70px;
    border-radius: 100%;
    filter: blur(150px);
    animation: showBlur 1s linear 1s forwards;
    z-index: 1;
  }
  .subTitle {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 0;
    animation: showContentRightToLeft 1.5s linear 1.5s forwards;
    &::before {
      content: "";
      width: 100px;
      height: 2px;
      display: inline-block;
      background: #7b2cbf;
      box-shadow: 0px 0px 10px 1px #7b2cbf;
      opacity: 0;
      animation: showContentLeftToRight 1s linear 1s forwards;
    }
  }
}

.rightAside {
  & h1,
  & li {
    opacity: 0;
    animation: showContentToptoBottom 1s linear 1s forwards;
  }
}

.listProjects main:nth-child(1) {
  margin-bottom: 5rem;
  opacity: 0;
  animation: showContentLeftToRight 1s linear 1s forwards;
}

.listProjects main:nth-child(2) {
  margin-top: 5rem;
  opacity: 0;
  animation: showContentRightToLeft 1s linear 1s forwards;
}

.listProjects main:nth-child(3) {
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: showContentLeftToRight 1.3s linear 1.3s forwards;
}

.listProjects main:nth-child(4) {
  margin-top: 5rem;
  opacity: 0;
  animation: showContentRightToLeft 1.3s linear 1.3s forwards;
}

.listPagesActives {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1rem;
}
.listPagesActives a:nth-child(3) {
  position: relative;
}

.listPagesActives a:nth-child(1) {
  opacity: 0;
  animation: showBall 0.5s linear 0.5s forwards;
}

.listPagesActives a:nth-child(2) {
  opacity: 0;
  animation: showBall 0.7s linear 0.7s forwards;
}

.listPagesActives a:nth-child(3) {
  opacity: 0;
  animation: showBall 1s linear 1s forwards;
  box-shadow: 0px 0px 4px 3px #7a2cbf81;
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 12px;
    animation: showBorder 1s linear 2.5s forwards;
  }
}

.listPagesActives a:nth-child(4) {
  opacity: 0;
  animation: showBall 1.5s linear 1.5s forwards;
}

.listPagesActives a:nth-child(5) {
  opacity: 0;
  animation: showBall 2s linear 2s forwards;
}

@media (max-width: 700px) {
  .listPagesActives {
    display: none;
  }
}

@media (max-width: 1022px) {
  .listPagesActives a:nth-child(3) {
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: 0;
      bottom: 0;
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 10px;
    }
  }
  .containerTitle {
    .backgroundText {
      right: 10%;
      top: -40%;
    }
    .blurEffect {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 20px;
      left: 70px;
    }
  }
  svg {
    width: 24px;
    height: 24px;
  }
  .acompanhe {
    &::after {
      height: 40px;
    }
  }
  .listProjects main:nth-child(1) {
    margin-bottom: initial;
  }

  .listProjects main:nth-child(2) {
    margin-top: initial;
  }

  .listProjects main:nth-child(3) {
    margin-top: initial;
    margin-bottom: initial;
  }

  .listProjects main:nth-child(4) {
    margin-top: initial;
  }
}

@media (max-width: 700px) {
  .listPagesActives {
    display: none;
  }
  .containerProjetos {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  .acompanhe {
    writing-mode: horizontal-tb;
    display: flex;
    align-items: center;
    &::after {
      width: 68px;
      height: 2px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}

@media (min-width: 1024px) {
  .containerTitle {
    .titleProject {
      font-size: 3rem;
      line-height: 1;
    }
  }
}

@media (min-width: 640px) {
  .containerTitle {
    .titleProject {
      font-size: 3rem;
      line-height: 1;
    }
  }
}

@media (max-width: 500px) {
  .containerTitle {
    .blurEffect {
      width: 100px;
      height: 100px;
      left: 50px;
      filter: blur(100px);
      top: -40px;
    }
  }
  .acompanhe {
    &::after {
      width: 26px;
      height: 2px;
      display: inline-block;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}

@keyframes showBlur {
  from {
    background: transparent;
    opacity: 0;
  }
  to {
    background: #7b2cbf;
    opacity: 1;
  }
}

@keyframes showBall {
  to {
    opacity: initial;
    scale: 1.05;
  }
}

@keyframes showBorder {
  to {
    border-color: #fff;
  }
}

@keyframes showBlur {
  from {
    background: transparent;
    opacity: 0;
  }
  to {
    background: #7b2cbf;
    opacity: 1;
  }
}

@keyframes showContentToptoBottom {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

@keyframes showContentBottomToTop {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

@keyframes showContentLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

@keyframes showContentRightToLeft {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}
